*{
	margin:0;
	padding:0;
	
}
body{
	overflow: hidden;
	background: url(4.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}
/* navigation bar*/
#header{
	position:absolute;
	z-index:10;
	width:100%
}
.navbar{
	padding:50px 0;
}
.navbar-brand h3{
	font-weight:bold;
	/*font-size:1.5em;*/
}
.navbar-dark .navbar-brand{
	color:$dcdde1;
}
.nav-item{
	font-weight:bold;
	text-transform:uppercase;
	padding-left:10px;
}
.navbar-dark .navbar-nav .navbar-item .nav-link:hover{
	background:#dcdde1;
	color:#262626;
}
ul#mainmenu ul#submenu{
  display: none;
  position: absolute;
}
ul#submenu a{
  color: gray;
  text-decoration: none;
}
ul#submenu a:hover{
  color:white;
  text-decoration: underline;
}
ul#mainmenu li:hover #submenu{
  display: block;
}
/*registration*/
input[type="text"],input[type="password"],input[type="tel"],input[type="password"],input[type="file"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    overflow: hidden;
    outline: none;
    height:40px;
    width:140%;
    color:white;
    font-size: 16px;
}
select{
    border:none;
     border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:30px;
    overflow:hidden;
    width:140%;
}
select:hover{
	border:3px solid #fff;
    background: transparent;
    outline: none;
	color:white;
}
form h3{
	color: white;
	font-family: georgia;
	padding-left: 50px;
	padding-top: 10px;
	font-weight: bold;
}
input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid cyan;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 50px;
  transition: 0.25s;
  cursor: pointer;
}
 input[type = "submit"]:hover{
  background: gray;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}
.leftside{
	left:15%;
	top:20%;
	position: absolute;
}
.rightside{
	right:10;
	top:20%;
	width:550px;
	position: absolute;
}
.my-custom-scrollbar {overflow: auto;height:500px;
	}
.table-wrapper-scroll-y {
display: block;
}
@media(max-width:680px) {
  body{
    overflow: auto;
  }
  .main{
    padding:200px 0;
  }
  .navbar-brand h3{
    font-size:10px;
    font-weight:bold;
  }
  .box{
    left:0;
  }
  .box input[type = "text"],.box input[type = "password"]{
    width:170px;
  }
  .leftside{
    left:50%;
    top:0;
    position: absolute;
  }
  .rightside{
    width:300px;
    top:100%;
    left:15%;
    position: absolute;
    height:50PX;

  }
  .my-custom-scrollbar {overflow: auto;height:100px;
  }
}
@media(max-width:770px) {
  body{
    overflow: auto;  }
  .main{
    padding:200px 0;
  }
  .navbar-brand h3{
    font-size:10px;
    font-weight:bold;
  }
  .box{
    left:0;
  }
  .box input[type = "text"],.box input[type = "password"]{
    width:170px;
  }
  .leftside{
    left:5%;
    top:50%;
    position: absolute;
  }
  .my-custom-scrollbar {overflow: auto;height:200px;
  }
}
@media(max-width:1000px)  {
  body{
    height:150%;
    background-size: cover;
  }
  .main{
    padding:200px 0;
  }
  .navbar-brand h3{
    font-size:15px;
    font-weight:bold;
  }
  .box{
    left:0;
  }
  .box input[type = "text"],.box input[type = "password"]{
    width:170px;
  }
  .leftside{
    top:20%;
    position: absolute;
  }
  .rightside{
    width:400px;
    height: 500px;
  }
  .my-custom-scrollbar {overflow: auto;height:500px;
  }
}
@media(max-width:1200px)  {
  body{
    height:150%;
    background-size: cover;
  }
  .main{
    padding:200px 0;
  }
  .navbar-brand h3{
    font-size:20px;
    font-weight:bold;
  }
  .box{
    left:0;
  }
  .box input[type = "text"],.box input[type = "password"]{
    width:170px;
  }

}
